.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.subContainerImg{
    width: 60vw;
    background-color: #ecedf0;
}

.subContainerForm{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginImage{
    width: 100%;
    height: 100%;
}

