.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 50px
}

.button{
    margin-top: 30px;
}

.inputWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonVisibleIcon{
    position: absolute;
    right: 15px;
}